# Customer churn: weather he will go or not?

In [33]:
import pandas as pd
import numpy as np

In [34]:
# read data
churn_df = pd.read_csv('data/churn.csv')

In [35]:
churn_df.head

<bound method NDFrame.head of      State  Account Length  Area Code     Phone Int'l Plan VMail Plan  \
0       KS             128        415  382-4657         no        yes
1       OH             107        415  371-7191         no        yes
2       NJ             137        415  358-1921         no         no
3       OH              84        408  375-9999        yes         no
4       OK              75        415  330-6626        yes         no
5       AL             118        510  391-8027        yes         no
6       MA             121        510  355-9993         no        yes
7       MO             147        415  329-9001        yes         no
8       LA             117        408  335-4719         no         no
9       WV             141        415  330-8173        yes        yes
10      IN              65        415  329-6603         no         no
11      RI              74        415  344-9403         no         no
12      IA             168        408  363-1107         no         no
13      MT              95        510  394-8006         no         no
14      IA              62        415  366-9238         no         no
15      NY             161        415  351-7269         no         no
16      ID              85        408  350-8884         no        yes
17      VT              93        510  386-2923         no         no
18      VA              76        510  356-2992         no        yes
19      TX              73        415  373-2782         no         no
20      FL             147        415  396-5800         no         no
21      CO              77        408  393-7984         no         no
22      AZ             130        415  358-1958         no         no
23      SC             111        415  350-2565         no         no
24      VA             132        510  343-4696         no         no
25      NE             174        415  331-3698         no         no
26      WY              57        408  357-3817         no        yes
27      MT              54        408  418-6412         no         no
28      MO              20        415  353-2630         no         no
29      HI              49        510  410-7789         no         no
...    ...             ...        ...       ...        ...        ...
3303    WI             114        415  373-7308         no        yes
3304    IL              71        510  330-7137        yes         no
3305    IN              58        415  406-8445         no        yes
3306    AL             106        408  404-5283         no        yes
3307    OK             172        408  398-3632         no         no
3308    IA              45        415  399-5763         no         no
3309    VT             100        408  340-9449        yes         no
3310    NY              94        415  363-1123         no         no
3311    LA             128        415  361-2170         no         no
3312    SC             181        408  406-6304         no         no
3313    ID             127        408  392-5090         no         no
3314    MO              89        415  373-7713         no         no
3315    ME             149        415  392-1376         no        yes
3316    MS             103        510  390-6388         no        yes
3317    SD             163        415  379-7290        yes         no
3318    OK              52        415  397-9928         no         no
3319    WY              89        415  378-6924         no         no
3320    GA             122        510  411-5677        yes         no
3321    VT              60        415  400-2738         no         no
3322    MD              62        408  409-1856         no         no
3323    IN             117        415  362-5899         no         no
3324    WV             159        415  377-1164         no         no
3325    OH              78        408  368-8555         no         no
3326    OH              96        415  347-6812         no         no
3327    SC              79        415  348-3830         no         no
3328    AZ             192        415  414-4276         no        yes
3329    WV              68        415  370-3271         no         no
3330    RI              28        510  328-8230         no         no
3331    CT             184        510  364-6381        yes         no
3332    TN              74        415  400-4344         no        yes

      VMail Message  Day Mins  Day Calls  Day Charge   ...    Eve Calls  \
0                25     265.1        110       45.07   ...           99
1                26     161.6        123       27.47   ...          103
2                 0     243.4        114       41.38   ...          110
3                 0     299.4         71       50.90   ...           88
4                 0     166.7        113       28.34   ...          122
5                 0     223.4         98       37.98   ...          101
6                24     218.2         88       37.09   ...          108
7                 0     157.0         79       26.69   ...           94
8                 0     184.5         97       31.37   ...           80
9                37     258.6         84       43.96   ...          111
10                0     129.1        137       21.95   ...           83
11                0     187.7        127       31.91   ...          148
12                0     128.8         96       21.90   ...           71
13                0     156.6         88       26.62   ...           75
14                0     120.7         70       20.52   ...           76
15                0     332.9         67       56.59   ...           97
16               27     196.4        139       33.39   ...           90
17                0     190.7        114       32.42   ...          111
18               33     189.7         66       32.25   ...           65
19                0     224.4         90       38.15   ...           88
20                0     155.1        117       26.37   ...           93
21                0      62.4         89       10.61   ...          121
22                0     183.0        112       31.11   ...           99
23                0     110.4        103       18.77   ...          102
24                0      81.1         86       13.79   ...           72
25                0     124.3         76       21.13   ...          112
26               39     213.0        115       36.21   ...          112
27                0     134.3         73       22.83   ...          100
28                0     190.0        109       32.30   ...           84
29                0     119.3        117       20.28   ...          109
...             ...       ...        ...         ...   ...          ...
3303             26     137.1         88       23.31   ...          125
3304              0     186.1        114       31.64   ...          140
3305             22     224.1        127       38.10   ...           85
3306             29      83.6        131       14.21   ...          131
3307              0     203.9        109       34.66   ...          123
3308              0     211.3         87       35.92   ...           97
3309              0     219.4        112       37.30   ...          102
3310              0     190.4         91       32.37   ...          107
3311              0     147.7         94       25.11   ...           83
3312              0     229.9        130       39.08   ...           93
3313              0     102.8        128       17.48   ...           95
3314              0     178.7         81       30.38   ...           74
3315             18     148.5        106       25.25   ...          106
3316             29     164.1        111       27.90   ...           96
3317              0     197.2         90       33.52   ...          113
3318              0     124.9        131       21.23   ...          118
3319              0     115.4         99       19.62   ...          115
3320              0     140.0        101       23.80   ...           77
3321              0     193.9        118       32.96   ...          110
3322              0     321.1        105       54.59   ...          122
3323              0     118.4        126       20.13   ...           97
3324              0     169.8        114       28.87   ...          105
3325              0     193.4         99       32.88   ...           88
3326              0     106.6        128       18.12   ...           87
3327              0     134.7         98       22.90   ...           68
3328             36     156.2         77       26.55   ...          126
3329              0     231.1         57       39.29   ...           55
3330              0     180.8        109       30.74   ...           58
3331              0     213.8        105       36.35   ...           84
3332             25     234.4        113       39.85   ...           82

      Eve Charge  Night Mins  Night Calls  Night Charge  Intl Mins  \
0          16.78       244.7           91         11.01       10.0
1          16.62       254.4          103         11.45       13.7
2          10.30       162.6          104          7.32       12.2
3           5.26       196.9           89          8.86        6.6
4          12.61       186.9          121          8.41       10.1
5          18.75       203.9          118          9.18        6.3
6          29.62       212.6          118          9.57        7.5
7           8.76       211.8           96          9.53        7.1
8          29.89       215.8           90          9.71        8.7
9          18.87       326.4           97         14.69       11.2
10         19.42       208.8          111          9.40       12.7
11         13.89       196.0           94          8.82        9.1
12          8.92       141.1          128          6.35       11.2
13         21.05       192.3          115          8.65       12.3
14         26.11       203.0           99          9.14       13.1
15         27.01       160.6          128          7.23        5.4
16         23.88        89.3           75          4.02       13.8
17         18.55       129.6          121          5.83        8.1
18         18.09       165.7          108          7.46       10.0
19         13.56       192.8           74          8.68       13.0
20         20.37       208.8          133          9.40       10.6
21         14.44       209.6           64          9.43        5.7
22          6.20       181.8           78          8.18        9.5
23         11.67       189.6          105          8.53        7.7
24         20.84       237.0          115         10.67       10.3
25         23.55       250.7          115         11.28       15.5
26         16.24       182.7          115          8.22        9.5
27         13.22       102.1           68          4.59       14.7
28         21.95       181.5          102          8.17        6.3
29         18.28       178.7           90          8.04       11.1
...          ...         ...          ...           ...        ...
3303       13.23       247.6           94         11.14       11.5
3304       16.88       206.5           80          9.29       13.8
3305       20.30       174.2           86          7.84       11.5
3306       17.33       229.5           73         10.33        8.1
3307       19.89       160.7           65          7.23       17.8
3308       14.08       265.9           72         11.97       13.3
3309       19.18       255.3           95         11.49       12.0
3310        7.82       224.8          108         10.12       13.6
3311       24.08       188.3          124          8.47        6.9
3312       12.27       262.4          110         11.81       14.2
3313       12.21       191.4           97          8.61       10.0
3314       19.86       131.9          120          5.94        9.1
3315        9.73       178.3           98          8.02        6.5
3316       18.62       220.3          108          9.91       12.3
3317       16.02       211.1           94          9.50        7.8
3318       25.54       192.5          106          8.66       11.6
3319       17.84       280.9          112         12.64       15.9
3320       16.69       120.1          133          5.40        9.7
3321        7.23       210.1          134          9.45       13.2
3322       22.57       180.5           72          8.12       11.5
3323       21.19       227.0           56         10.22       13.6
3324       16.80       193.7           82          8.72       11.6
3325        9.94       243.3          109         10.95        9.3
3326       24.21       178.9           92          8.05       14.9
3327       16.12       221.4          128          9.96       11.8
3328       18.32       279.1           83         12.56        9.9
3329       13.04       191.3          123          8.61        9.6
3330       24.55       191.9           91          8.64       14.1
3331       13.57       139.2          137          6.26        5.0
3332       22.60       241.4           77         10.86       13.7

      Intl Calls  Intl Charge  CustServ Calls  Churn?
0              3         2.70               1  False.
1              3         3.70               1  False.
2              5         3.29               0  False.
3              7         1.78               2  False.
4              3         2.73               3  False.
5              6         1.70               0  False.
6              7         2.03               3  False.
7              6         1.92               0  False.
8              4         2.35               1  False.
9              5         3.02               0  False.
10             6         3.43               4   True.
11             5         2.46               0  False.
12             2         3.02               1  False.
13             5         3.32               3  False.
14             6         3.54               4  False.
15             9         1.46               4   True.
16             4         3.73               1  False.
17             3         2.19               3  False.
18             5         2.70               1  False.
19             2         3.51               1  False.
20             4         2.86               0  False.
21             6         1.54               5   True.
22            19         2.57               0  False.
23             6         2.08               2  False.
24             2         2.78               0  False.
25             5         4.19               3  False.
26             3         2.57               0  False.
27             4         3.97               3  False.
28             6         1.70               0  False.
29             1         3.00               1  False.
...          ...          ...             ...     ...
3303           7         3.11               2  False.
3304           5         3.73               4   True.
3305           7         3.11               2  False.
3306           3         2.19               1  False.
3307           4         4.81               4  False.
3308           6         3.59               1  False.
3309           4         3.24               4  False.
3310          17         3.67               2  False.
3311           5         1.86               2  False.
3312           4         3.83               2  False.
3313           5         2.70               1  False.
3314           4         2.46               1  False.
3315           4         1.76               0  False.
3316           9         3.32               0  False.
3317           8         2.11               1  False.
3318           4         3.13               2  False.
3319           6         4.29               3  False.
3320           4         2.62               4   True.
3321           8         3.56               3  False.
3322           2         3.11               4   True.
3323           3         3.67               5   True.
3324           4         3.13               1  False.
3325           4         2.51               2  False.
3326           7         4.02               1  False.
3327           5         3.19               2  False.
3328           6         2.67               2  False.
3329           4         2.59               3  False.
3330           6         3.81               2  False.
3331          10         1.35               2  False.
3332           4         3.70               0  False.

[3333 rows x 21 columns]>

In [36]:
col_names = churn_df.columns
print('Coulmn Names are : ')
print(col_names)
print('number of column are ', len(col_names))

Coulmn Names are :
Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')
number of column are  21

In [37]:
print('Dimensions of data are : ', churn_df.shape)

Dimensions of data are :  (3333, 21)

Till now we got data dimensions

Nows lets work on feature engineering

In [38]:
churn_df.dtypes

State              object
Account Length      int64
Area Code           int64
Phone              object
Int'l Plan         object
VMail Plan         object
VMail Message       int64
Day Mins          float64
Day Calls           int64
Day Charge        float64
Eve Mins          float64
Eve Calls           int64
Eve Charge        float64
Night Mins        float64
Night Calls         int64
Night Charge      float64
Intl Mins         float64
Intl Calls          int64
Intl Charge       float64
CustServ Calls      int64
Churn?             object
dtype: object

In [39]:
# Check null
churn_df.isnull().sum()

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

In [40]:
# Describe Contineous data
churn_df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [41]:
# Describe Cat variables

churn_df.describe(include=['object'])

       State     Phone Int'l Plan VMail Plan  Churn?
count   3333      3333       3333       3333    3333
unique    51      3333          2          2       2
top       WV  417-1272         no         no  False.
freq     106         1       3010       2411    2850

In [42]:
#Create set of dependent and independent variables

churn_result = churn_df['Churn?']
y = churn_df['Churn?'].map({'True.':1, 'False.': 0})

#Another way of changing data
#y = np.where(churn_result == "True.", 1, 0)
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn?, dtype: int64

In [43]:
churn_df.columns

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [44]:
# Decide to drop columns

to_drop = ['State', 'Area Code', 'Phone', 'Churn?']
churn_feat_space = churn_df.drop(to_drop, axis =1)
churn_feat_space.describe()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [45]:
churn_feat_space.describe(include=['object'])

       Int'l Plan VMail Plan
count        3333       3333
unique          2          2
top            no         no
freq         3010       2411

In [51]:
# convert other cat var to numbers 
# conver yes and no to 1 and 0
yes_no_columns = ['Int\'l Plan', 'VMail Plan']
churn_feat_space[yes_no_columns] = (churn_feat_space[yes_no_columns] == 'yes').astype('int')

TypeError: Could not compare ['yes'] with block values

In [52]:
churn_feat_space[yes_no_columns].dtypes

Int'l Plan    int32
VMail Plan    int32
dtype: object

In [47]:
features = churn_feat_space.columns
features

In [53]:
X = churn_feat_space.as_matrix().astype(np.float)

In [54]:
churn_feat_space.describe()

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,0.096910,0.276628,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,0.295876,0.447403,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,0.000000,0.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,0.000000,1.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,1.000000,1.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000